.welcome__container {
  min-height: 100vh;
  background: url("../../assets/img/nature.jpg") center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__body {
  padding: 1rem 2rem;
  height: 25rem;
}
